---
import links from 'public/links.json'
import config from 'virtual:config'

import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 1, slug: 'common-links', text: '常用链接' },
  { depth: 1, slug: 'special-links', text: '特殊链接' },
  { depth: 1, slug: 'apply-links', text: '申请链接' }
]

const { friends } = links
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/cworld1/astro-theme-pure/blob/main/public/links.json'
---

<PageLayout title='友情链接' {headings} comment>
  <p>欢迎互换友情链接！以下链接不分顺序</p>
  <h2 id='common-links'>常用链接</h2>
  <FriendList list={friends[0]} />
  <h2 id='special-links'>特殊链接</h2>
  <FriendList list={friends[2]} />

  <!-- apply-links -->
  <h2 id='apply-links'>申请链接</h2>
  <p>本站信息（点击复制）The site information (click to copy)：</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'已将 "${val}" 复制到剪贴板！'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    申请时还请按照这个模板留言，此外有关申请说明：Please leave a message according to this template when applying. In addition, regarding the application instructions:
  </p>
  <ul>
    <li>在你的友链上添加了本站. You've recommended this site on your website.</li>
    <li>请确保你的站点活着. Make sure your site is alive.</li>
    <li>博客内容不违反国家法律. Content does not violate common laws.</li>
  </ul>
</PageLayout>
